@use '@angular/material' as mat;
@use 'tailwindcss';
@use 'theme-colors' as theme;
html {
  color-scheme: light;
  @include mat.theme(
    (
      color: theme.$primary-palette,
    )
  );

  @media (prefers-contrast: more) {
    @include theme.high-contrast-overrides('light');
  }
}

.tertiary {
  @include mat.theme(
    (
      color: theme.$tertiary-palette,
    )
  );
}

.error {
  @include mat.theme(
    (
      color: theme.$error-palette,
    )
  );
}

.neutral-variant {
  @include mat.theme(
    (
      color: theme.$neutral-variant-palette,
    )
  );
}

.neutral {
  @include mat.theme(
    (
      color: theme.$neutral-palette,
    )
  );
}

.secondary {
  @include mat.theme(
    (
      color: theme.$secondary-palette,
    )
  );
}

html,
body {
  height: 100%;
}
html,
body {
  color-scheme: light;
  margin: 16px auto;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  min-width: 850px;
  max-width: 1150px;
}
