name: Build, Test, and Deploy
on:
  push:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      # QUAN TRỌNG: Fix lỗi lightningcss
      - name: Rebuild native modules
        run: npm rebuild

      # BUILD VỚI PRODUCTION
      - name: Build Angular App
        run: npm run build 

      - name: Setup Pages
        uses: actions/configure-pages@v5

      # UPLOAD ĐÚNG THƯ MỤC DIST
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist/angular-intern'