name: CI Pipeline
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  ci-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Snyk Scan
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test
          args: --severity-threshold=medium --skip-unresolved

      - name: Check code standard
        run: npm run lint

      - name: Build with Angular
        run: npm run build 

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }} 

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true  
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/ci-pipeline-demo:latest

      - name: Run Trivy Scan on Docker Image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ secrets.DOCKERHUB_USERNAME }}/ci-pipeline-demo:latest'
          format: 'table'
          exit-code: '1' 
          ignore-unfixed: true
          vuln-type: 'os,library'

      - name: Run container in background
        run: |
          docker run -d --name test-build -p 3000:4200 ${{ secrets.DOCKERHUB_USERNAME }}/ci-pipeline-demo:latest

      - name: Wait for server to start
        run: sleep 5

      - name: Test health endpoint
        run: curl -f http://localhost:3000 || exit 1

      - name: Stop container
        run: docker stop test-build
             

